<dd ng-model="data.search_api" ng-init="data.search_api='/withdrawalAuditList'"></dd>
<div  ng-init="withdrawalAuditListInit()">
	<div class="grid_3 grid_4">
		<div class="grid-form1">
			<form class="form-inline">
			  <div class="form-group">
				<label class="sr-only" for="exampleInputPassword3"></label>
				时间起：<input type="text" ng-model="data.search.start_time" class="form-control datepicker" >~<input type="text" ng-model="data.search.end_time" class="form-control datepicker" >
			  </div>
			  <div class="form-group">
				<label class="sr-only" for="exampleInputPassword3"></label>
				提款帐号：<input type="text" ng-model="data.search.u_account" class="form-control" >
			  </div>
			  <button type="submit" class="btn btn-default" ng-click="search()">搜寻</button>
			  <button  class="btn btn-default" ng-click="reset()">清除搜寻条件</button>
			</form>
		</div>
	</div>
	<div class="grid_3 grid_4">
		<div class="clearfix"> </div>
		<div class="but_list">
			<div class="col-md-12 page_1">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th  width="2%" style="text-align:center">
								<a href="" ng-click="orderClick('u_account');$event.preventDefault();">充值帐号</a> 
								<i  ng-show="data.order.u_account=='DESC'" class="fa fa-chevron-down" aria-hidden="true"></i>
								<i  ng-show="data.order.u_account=='ASC'"  class="fa fa-chevron-up" aria-hidden="true"></i>
							</th>
							<th width="10%"  style="text-align:center">
								提款人银行资料
							</th>
							<th width="2%"  style="text-align:center">
								<a href="" ng-click="orderClick('ua_value');$event.preventDefault();">提款额</a> 
								<i  ng-show="data.order.ua_value=='DESC'" class="fa fa-chevron-down" aria-hidden="true"></i>
								<i  ng-show="data.order.ua_value=='ASC'"  class="fa fa-chevron-up" aria-hidden="true"></i>
							</th>
							<th width="2%"  style="text-align:center">
								<a href="" ng-click="orderClick('ua_status_show');$event.preventDefault();">状态</a> 
								<i  ng-show="data.order.ua_status_show=='DESC'" class="fa fa-chevron-down" aria-hidden="true"></i>
								<i  ng-show="data.order.ua_status_show=='ASC'"  class="fa fa-chevron-up" aria-hidden="true"></i>
							</th>
							<th width="5%"  style="text-align:center">
								<a href="" ng-click="orderClick('ua_add_datetime');$event.preventDefault();">申请时间</a> 
								<i  ng-show="data.order.ua_add_datetime=='DESC'" class="fa fa-chevron-down" aria-hidden="true"></i>
								<i  ng-show="data.order.ua_add_datetime=='ASC'"  class="fa fa-chevron-up" aria-hidden="true"></i>
							</th>
							<th  width="5%" style="text-align:center">
								本日提款次数/金額
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in data.list">
							<td valign="middle" ng-bind="row.u_account"></td>
							<td valign="middle">
								开户人姓名：{{row.ub_account_name}}<br>
								开户银行：{{row.bi_name}}<br>
								银行卡号：{{row.ub_account}}<br>
								开户省份：{{row.ub_province}}<br>
								开户县市：{{row.ub_city}}<br>
								支行名称：{{row.ub_branch_name}}
							</td>
							<td valign="middle" ng-bind="row.ua_value"></td>
							<td valign="middle" >
								<select ng-model="row.ua_status" ng-disabled="row.withdrawal_disabled =='1'">
									<option value="audit">未审核</option>
									<option value="stopPayment">拒绝出款</option>
									<option value="payment">已出款</option>
								</select>
								<a  ng-if="row.withdrawal_disabled !='1'" ng-repeat-start="action in data.actions" ng-click="withdrawalAuditClick(action,row.ua_status,row.ua_id)" type="button" class="btn btn-xs btn-default" ng-bind="action.title">新增</a>
								<span ng-repeat-end></span>
							</td>
							<td valign="middle" ng-bind="row.ua_add_datetime"></td>
							<td valign="middle"  ng-bind="row.today_payment_number+'/'+row.today_payment_value"></td>
						</tr>
					</tbody>
				</table>  
				<div>
					<ul class="pagination pagination-sm">
						<li  ng-class="data.p=='1'?'disabled':''">
							<a ng-click="clickpage(data.p -1);$event.preventDefault();" href="#"><i class="fa fa-angle-left"></i></a>
						</li>
						<li  ng-class="($index +1)==data.p?'active':''" ng-repeat="n in [] | range:data.pages">
							<a ng-click="clickpage($index +1);$event.preventDefault();" href="#" ng-bind="$index +1"></a>
						</li>
						<li ng-class="data.p==pageinfo.pages?'disabled':''">
							<a ng-click="clickpage(data.p +1);$event.preventDefault();" href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>	
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>