<div  ng-init="auditListInit()">
	<div class="grid_3 grid_4">
		<div class="grid-form1">
			<form class="form-inline">
			  <div class="form-group">
				<label class="sr-only" for="exampleInputPassword3"></label>
				时间起<input type="text" ng-model="data.start_time" class="form-control datepicker" >
				~<input type="text" ng-model="data.end_time" class="form-control datepicker" >
			  </div>
			  <button type="submit" class="btn btn-default" ng-click="search()">搜寻</button>
			  <button  class="btn btn-default" ng-click="reset()">清除搜寻条件</button>
			</form>
		</div>
	</div>
	<div class="grid_3 grid_4">
		<div class="col-md-12 page_1">
			<a ng-click="click('/checkAudit');$event.preventDefault();"  type="button" class="btn btn-lg btn-default" >审核</a>
		</div>
		<div class="clearfix"> </div>
		<div class="but_list">
			<div class="col-md-12 page_1">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="5%" >
								<input type="checkbox"  ng-model="data.selected"  ng-init="data.selected=0">
							</th>
							<th width="20%" style="text-align:center">充值帐号</th>
							<th width="20%" style="text-align:center">充值方</th>
							<th width="20%" style="text-align:center">充值额</th>
							<th width="20%" style="text-align:center">时间</th>
							<th width="30%" style="text-align:center">备注</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in data.list">
							<td valign="middle" >
								<input class="checkbox_u_id" name="u_id[]"  ng-checked="data.selected" type="checkbox" value="{{row.ua_id}}" ng-model="row.selected" ng-init="row.selected=='0'">
							</td>
							<td valign="middle" ng-bind="row.u_account"></td>
							<td valign="middle" ng-bind="row.ad_account"></td>
							<td valign="middle" ng-bind="row.ua_value"></td>
							<td valign="middle" ng-bind="row.ua_add_datetime"></td>
							<td valign="middle" ng-bind="row.ua_remarks"></td>
						</tr>
					</tbody>
				</table>  
				<div>
					<ul class="pagination pagination-sm">
						<li  ng-class="data.p=='1'?'disabled':''">
							<a ng-click="clickpage(data.p -1);$event.preventDefault();" href="#"><i class="fa fa-angle-left"></i></a>
						</li>
						<li  ng-class="($index +1)==data.p?'active':''" ng-repeat="n in [] | range:data.pages">
							<a ng-click="clickpage($index +1);$event.preventDefault();" href="#" ng-bind="$index +1"></a>
						</li>
						<li ng-class="data.p==pageinfo.pages?'disabled':''">
							<a ng-click="clickpage(data.p +1);$event.preventDefault();" href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>	
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>