<div class="grid_3 grid_4" ng-init="init()">
	<h3 id="forms-horizontal" ng-bind="data.action_title"></h3>
	<p>
	<form class="form-horizontal" method="POST">
	  <div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label hor-form">使用者帳號</label>
		<div class="col-sm-10">
		  <input type="text"  maxlength="12"  value="{{data.user.u_account}}" class="form-control" required="required"  disabled="disabled">
		</div>
	  </div>
	  <div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label hor-form">資金密码</label>
		<div class="col-sm-10">
		  <input type="password" ng-model="data.passwd" name="passwd" maxlength="12"  class="form-control" required="required"  placeholder="資金密码">
		</div>
	  </div>
	 <div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label hor-form">在次输入</label>
		<div class="col-sm-10">
		  <input type="password" ng-model="data.passwd_confirm"  name="passwd_confirm" maxlength="12" required="required" class="form-control" placeholder="在次输入">
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input  type="hidden" value='0'  name="superior" >
			<button type="submit" ng-click="setMoneyPasswd();" class="btn btn-default">送出</button>
		</div>
	  </div>
	</form>
</div>
